'editor':
  'fontSize': 11
  'softWrapAtPreferredLineLength': true
  'softWrap': true
  'fontFamily': 'Source Code Pro'
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'projectHome': '~/git/projects'
  'audioBeep': false
'exception-reporting':
  'userId': '1421d2dd-2efb-cec2-a824-12119aa40a6d'
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '7cfc4033453ab1047c37ec39e8eba1bd92351e04'
